.main {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem; 
} 

.aboutMe{
  display: grid;
  gap: 2rem;
} 

.interestSection {
  display: grid;
  gap: 1rem;
}